<% include ../partials/header %>

<div class="row">
    <div class="col-xs-12">
        <h1>Documentation</h1>
    </div>
    <div class="col-md-6">
        So far, there isn't much information yet on how to use the game server. In the mean time, you can have a
        look at the live example running at <a href="/learn/">/learn</a>.
    </div>
</div>

<% include ../partials/footer %>
