<% include ../partials/header %>

<div class="jumbotron">
    <h1>Can you make the fastest AI?</h1>
    <p>
        There should really be some motivating text here instead of this placeholder. I mean, who's going to be clicking
        that shiny button now?
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<% include ../partials/footer %>
